// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#divLoading {
  display: none;
}

#divLoading.show {
  display: block;
  position: fixed;
  z-index: 100;
  background-color: #666;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.attachment {
  position: relative;
  width: 80%;
  max-width: 300px;
  display: inline-block;
}

.attachment img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-height: 80px;
}
.attachment .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ab1f25;
  color: white;
  font-size: 12px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.inline_form form {
  display: inline;
}

.attachment .btn:hover {
  background-color: black;
}

/* Tooltip container */
.tooltip_cust {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip_cust .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_cust:hover .tooltiptext {
  visibility: visible;
}
.tooltip_cust .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}